.button-chooser {
    width: 100%;
    display: flex;
}
.active {
    background: darkgreen;
}
span {
    flex-grow: 1;
    flex-basis: 0;
}
button {
    background: #0fc50f;
    color: white;
    width: 95%;
    margin: 10px 10px 0px 0px ;
}
