<div efBorder="1">Border 1</div>
<div>No Border</div>
<div efBorder="2">Border 2</div>
<p [efBorder]="borderWidth">
  Ich habe einen Rahmen mit einer dynamischen Breite.
</p>
<button (click)="borderWidth = borderWidth + 1">Rahmen verbreitern</button>
<p>Breite des Rahmens: {{borderWidth}}</p>
<div efBorder2="1">Border 1 with Renderer</div>
<div>No Border</div>
<div efBorder2="2">Border 2 with Renderer</div>
<p>
  <label>E-Mail: </label>
  <input type="text" #email efLowerCase/>
</p>
<button (click)="submit(email.value)">Anmelden</button>
<p><label>jQuery-Slider: </label>
<p><div efSlider [(value)]="sliderValue"></div>
<p><input [(ngModel)]="sliderValue"/>
<p><div>Der aktuelle Wert des Sliders ist: {{sliderValue}}</div>
<p><efAccordion onlyOneOpen="true">
  <ef-panel title="Accordion1-Abschnitt 1">Dies ist ein Text in Abschnitt 1.</ef-panel>
  <ef-panel title="Accordion1-Abschnitt 2">Dies ist ein Text in Abschnitt 2.</ef-panel>
  <ef-panel title="Accordion1-Abschnitt 3">Dies ist ein Text in Abschnitt 3.</ef-panel>
</efAccordion>
<p><efAccordion onlyOneOpen="false" #accordion2='accordion'>
  <ef-panel title="Accordion2-Abschnitt 1">Dies ist ein Text in Abschnitt 1.</ef-panel>
  <ef-panel title="Accordion2-Abschnitt 2">Dies ist ein Text in Abschnitt 2.</ef-panel>
  <ef-panel title="Accordion2-Abschnitt 3">Dies ist ein Text in Abschnitt 3.</ef-panel>
</efAccordion>
<button (click)="accordion2.closeAll()">Alle schließen</button>

