<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav">
        <mat-nav-list role="navigation">
            <a mat-list-item routerLink="analysis" routerLinkActive="active" (click)="sidenav.close()">
                <mat-icon matListIcon>timeline</mat-icon>
                {{ 'app.data-analysis' | translate }}
            </a>
            <a mat-list-item routerLink="datainfo" routerLinkActive="active" (click)="sidenav.close()">
                <mat-icon matListIcon>info</mat-icon>
                {{ 'app.data-information' | translate }}
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <mat-toolbar class="toolbar mat-elevation-z4" color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>&nbsp;{{ 'app.menu.' + menuTitle | translate }}
        </mat-toolbar>

        <main class="content">
            <router-outlet></router-outlet>
        </main>
        <!-- footer -->
        <footer class="footer">
            <p class="footer-title">
                Edgar Furkert, 2020
            </p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>