<table>
  <tr>
    <td style="width: 400px; vertical-align: top;">
      <h3>First Form</h3>
      <ef-first-form></ef-first-form>
      <br/>
      <h3>First Form - One Way</h3>
      <ef-first-form-one-way></ef-first-form-one-way>
      <br/>
      <h3>First Form - Two Way</h3>
      <ef-first-form-two-way></ef-first-form-two-way>
    </td>
    <td style="vertical-align: top; padding-left: 10px;">
      <h3>First Form - TypeScript-Interfaces</h3>
      <ef-first-form-interfaces></ef-first-form-interfaces>
      <h3>First Form - TypeScript-Classes</h3>
      <ef-first-form-classes></ef-first-form-classes>
    </td>
    <td style="vertical-align: top; padding-left: 10px;">
      <h3>Template Driven Form</h3>
      <ef-template-driven-form></ef-template-driven-form>
    </td>
  </tr>
</table>
