<!-- Directive form -->
<form novalidate (ngSubmit)="saveTask(form.value)" #form="ngForm"> <!-- create a FormGroup/AbstractControl -->
    <div class="form-group">
        <label>Titel*</label>
        <!-- register input field to ngForm with attribute ngModel and name "title", create a FormControl/AbstractControl -->
        <input type="text" class="form-control" name="title" ngModel required/>
    </div>
    <div class="form-group">
        <label>Beschreibung</label>
        <!-- register textarea field to ngForm with attribute ngModel and name "description", create a FormControl/AbstractControl -->
        <textarea class="form-control" name="description" ngModel>
        </textarea>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid">
        Aufgabe speichern
    </button>
</form>
