.sidenav-content {
    // Displays an element as a block-level flex container
    display: flex;
    // The flex-direction property specifies the direction of the flexible items.
    flex-direction: column;
    height: 100vh;
}

.toolbar {
    position: relative;
    // The z-index property specifies the stack order of an element.
    z-index: 1;
    // The flex-grow property specifies how much the item will grow relative to the rest of the flexible items inside the same container.
    flex-grow: 0;
    // The flex-shrink property specifies how the item will shrink relative to the rest of the flexible items inside the same container.
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 24px;
}


/*
.content::before,
.content::after {
    display: block;
    content: '';
    height: 2000px;
    background-color: papayawhip;
}
*/

// ::ng-deep (Shadow Piercing, Break of Style-Encapsulation), + * (Adjacent Sibling Combinator, Selektion des ersten Elements nach dem router-outlet)
::ng-deep router-outlet+* {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto
}

.sidenav {
    width: 65%;
    min-width: 250px;
    max-width: 350px;
}


/*
// angular.json: build, test
//            "styles": [
//              "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
//              "src/styles.scss"
//            ],

// Import der Theming-Funktionen von Angular Material
@import '~@angular/material/theming';
// Generierung der Farbpalette für die Farbe Indigo
$primary-palette: mat-palette($mat-indigo);
// Abfragen der Primärfarbe (in der Standardvariante 500) aus der Primary-Palette
$primary: mat-color($primary-palette);
*/

@import "../theme";
.active {
    font-weight: bold;
    color: $primary !important;
    background-color: rgba($primary, .12) !important;
}

.stretch {
    flex-grow: 1;
}