<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="chart">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    <link rel="stylesheet" th:href="@{/css/highcharts.css}" href="../../css/highcharts.css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../css/bootstrap.css" />

    <script th:src="@{/js/jquery-3.2.1.min.js}" src="../../js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/js/highcharts.js}" src="../../js/highcharts.js"></script>
    <script th:src="@{/js/exporting.js}" src="../../js/exporting.js"></script>

    <script type="text/javascript">
        $(function () {
            loadBarChartData();
        });

        function loadBarChartData(params) {
            $.get("/ajax/barGraph", params, function (data, textStatus, jqXHR) {
                console.log('textStatus : ' + textStatus);
                console.log('result : ' + JSON.stringify(data));

                if (textStatus == 'success') {

                    $('#chartContainer').highcharts({
                        chart: {
                            type: 'column',
                            zoomType: 'y'
                        },
                        title: {
                            text: data.title
                        },
                        subtitle: {
                            text: data.subTitle
                        },
                        xAxis: {
                            type: 'category',
                            labels: {
                                rotation: -30,
                                style: {
                                    fontSize: '12px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            },
	                        title: {
	                            text: data.xaxis.title
	                        }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: data.yaxis.title
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        tooltip: {
                            pointFormat: '<b>{point.y:.1f}</b>'
                        },
                        colors: data.series.colors,
                        plotOptions: {
                            series: {
                                colorByPoint: true
                            }
                        },
                        series: [{
                            name: data.series.title,
                            data: data.series.data,
                            dataLabels: {
                                enabled: true,
                                rotation: -90,
                                color: '#FFFFFF',
                                align: 'right',
                                format: '{point.y:.1f}', // one decimal
                                y: 10, // 10 pixels down from the top
                                style: {
                                    fontSize: '12px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            }
                        }]
					});
                } else {
                    console.log('Unable to retrive data');
                }

            });
        }

    </script>

<div id="wrapper">
    <div id="chartContainer"></div>
</div>

<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
</div>

</body>
</html>