form {
    width: 400px;
}


/* Überschreiben der Komponenten CSS-Klassen-Attribute */

::ng-deep form .button-chooser__button {
    background: blue;
}

::ng-deep form .button-chooser__button--active {
    background: darkblue;
}