.territory-list {
    order: 0;
}

.region-list {
    order: 1;
    padding-top: 10px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    position: fixed;
    top: 70px;
    left: 20px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 85px;
    left: 340px;
    width: 100%;
}

.formContainer {
    order: 0;
    height: 150px;
}

.form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 24px;
    //overflow: auto;
}

.graphicContainer {
    order: 1;
    align-self: stretch;
    background-color: burlywood;
}

mat-form-field {
    margin-bottom: 16px;
}

.submit-button {
    align-self: flex-start;
    max-width: 200px;
}

.container-left {
    display: flex;
    flex-direction: column;
}

.time-range {}

.graphic-type {
    padding-top: 5px;
}

.data-type {
    width: 230px;
}

.data-category {
    width: 280px;
}

.y-axis-type {
    width: 120px;
}