.territory-list {
    order: 0;
}

.region-list {
    order: 1;
    padding-top: 10px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    position: fixed;
    top: 70px;
    left: 20px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 85px;
    left: 340px;
    width: calc(100% - 340px);
}

.formContainer {
    order: 0;
    height: 150px;
}

.form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 24px;
    //overflow: auto;
}

.form-left {
    display: flex;
    flex-direction: column;
    order: 0;
}

.form-right {
    display: flex;
    flex-direction: row;
    order: 1;
}

.form-button {
    align-self: flex-start;
    max-width: 200px;
    padding-top: 25px;
    padding-right: 15px;
    order: 2;
}

mat-form-field {
    margin-bottom: 16px;
}

.time-range {}

.graphic-type {
    padding-top: 5px;
}

.data-type {
    order: 0;
}

.data-category {
    padding-left: 15px;
    order: 1;
}

.y-axis-type {
    padding-left: 15px;
    padding-right: 15px;
    order: 2;
}

.graphicContainer {
    order: 1;
    width: 100%;
}