.territory-list {
    order: 0;
}

.region-list {
    order: 1;
    padding-top: 10px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 70px;
    left: 20px;
}

::ng-deep .territory-list .checkbox-list__table-container {
    height: 30vh;
}

::ng-deep .region-list .checkbox-list__table-container {
    height: 30vh;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    top: 85px;
    left: 285px;
    width: calc(100% - 290px);
}

.formContainer {
    order: 0;
}

.form {
    margin: 0 auto;
    margin-bottom: 24px;
    //overflow: auto;
}

.form-left {
    float: left;
}

.form-right {}

.form-button {
    float: left;
    max-width: 200px;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-right: 15px;
}

mat-form-field {
    margin-bottom: 16px;
}

.time-range {}

.graphic-type {
    padding-top: 5px;
    padding-right: 15px;
}

.data-type {
    float: left;
    padding-bottom: 15px;
}

.data-category {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.y-axis-type {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

// ::ng-deep (Shadow Piercing, Break of Style-Encapsulation), + * (Adjacent Sibling Combinator, Selektion des ersten Elements nach dem router-outlet)
::ng-deep router-outlet+* {
    display: block;
    width: 100%;
    height: 60vh;
    padding-right: 15px;
}

.graphicContainer {
    order: 1;
    width: 100%;
}