/* Structure */

table {
    width: 400px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.table-container {
    height: 300px;
    width: 100%;
    overflow: auto;
}

.data-table {
    width: 300px;
}

.mat-row {
    height: 32px;
}

.mat-header-row {
    height: 36px;
}