input[type=text].ng-touched.ng-invalid {
    border-color: #a94442
}

input[type=text].ng-untouched {
    border-color: blue
}

input[type=text].ng-pristine {
    border-color: yellow
}

input[type=text].ng-valid {
    border-color: green
}