<div class="timepicker">
    <div>Zeit: {{time.hours}}:{{time.minutes}}:{{time.seconds}}</div>
    <div class="col">
        <button (click)="incrementTime('hours')"> + </button>
        <!-- safe-navigation-Opertor "?": check of null/undefined -->
        <!-- locale template variable: #hour (access to the element) -->
        <input #hour [value]="time?.hours" 
            (change)="changeTime('hours', $event.target.value)"
            (keydown.tab)="minute.focus(); $event.preventDefault()"
            (keydown.shift.tab)="second.focus(); $event.preventDefault()"
            (keydown.arrowup)="incrementTime('hours'); $event.preventDefault()"
            (keydown.arrowdown)="decrementTime('hours'); $event.preventDefault()"/>
        <button (click)="decrementTime('hours')"> - </button>
    </div>
    <div class="col">
        <button (click)="incrementTime('minutes')"> + </button>
        <input #minute [value]="time?.minutes" 
            (keydown.arrowup)="incrementTime('minutes'); $event.preventDefault()"
            (keydown.arrowdown)="decrementTime('minutes'); $event.preventDefault()"
            (keydown.tab)="second.focus(); $event.preventDefault()"
            (keydown.shift.tab)="hour.focus(); $event.preventDefault()"
            (change)="changeTime('minutes', $event.target.value)"/>
        <button (click)="decrementTime('minutes')"> - </button>
    </div>
    <div class="col">
        <button (click)="incrementTime('seconds')"> + </button>
        <input #second [value]="time?.seconds" 
            [style.background-color]="calcColor(time.seconds)" 
            (change)="changeTime('seconds', $event.target.value)"
            (keydown.arrowup)="incrementTime('seconds'); $event.preventDefault()"
            (keydown.arrowdown)="decrementTime('seconds'); $event.preventDefault()"
            (keydown.tab)="hour.focus(); $event.preventDefault()"
            (keydown.shift.tab)="minute.focus(); $event.preventDefault()"
            />
        <button (click)="decrementTime('seconds')"> - </button>
    </div>
</div>