<tabs>
    <tab title="Tab 1">
        Tab 1: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum.
    </tab>
    <tab title="Tab 2">
        Tab 2: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum.
    </tab>
    <tab title="Accordion">
        <h2>Accordion</h2>

        <div class="row">
            <div class="col-lg-12">
                <div chAccordion #firstAccordion="accordion" onlyOneOpen="true">
                    <ch-panel title="Abschnitt 1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam molestie turpis id turpis sollicitudin ornare. Donec non purus eu magna venenatis placerat in eget enim. Nulla facilisi. Vestibulum nec efficitur velit. Integer a consequat
                        velit. Proin et sem aliquam, pulvinar nulla at, varius sem. Nulla et venenatis enim. Nullam viverra sit amet odio ut feugiat. Aenean fringilla tempus gravida. Aliquam sit amet est sit amet massa eleifend porta sit amet eu risus.
                        Suspendisse gravida, lectus eu pretium ullamcorper, turpis arcu commodo dui, dignissim dictum nibh massa et purus. Mauris viverra mi diam, sed vulputate est iaculis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</ch-panel>
                    <ch-panel title="Abschnitt 2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et justo duo dolores et ea rebum.</ch-panel>
                    <ch-panel title="Abschnitt 3">
                        <p>Praesent eleifend diam sapien, ut laoreet dolor varius a. Ut congue feugiat arcu dignissim ultrices. Aliquam erat volutpat. Donec eu lacus accumsan, mattis quam sed, commodo sapien. Mauris rutrum semper pharetra. Sed ac efficitur
                            dolor. Mauris gravida nunc luctus dui vehicula, sit amet lobortis turpis fringilla. Nulla malesuada sodales maximus. Etiam pellentesque scelerisque nisl vel varius. Maecenas tempor eros sed neque volutpat malesuada. Maecenas
                            non rhoncus tortor. Mauris et tortor imperdiet, maximus lorem nec, vulputate urna. Cras congue vestibulum velit, sed fringilla turpis tincidunt sit amet.</p>
                        <p>Fusce faucibus sodales massa, lacinia tristique diam semper nec. Ut metus velit, feugiat non aliquam nec, consectetur ut quam. Phasellus convallis ex massa, ac posuere sapien malesuada non. Curabitur interdum tortor maximus erat
                            lacinia, ut vehicula nulla rhoncus. Etiam tincidunt elit id velit aliquam, ullamcorper pretium orci convallis. Sed hendrerit felis eu nisl pulvinar, id aliquam ex ullamcorper. Suspendisse ullamcorper lacus nec maximus consequat.
                            Etiam egestas cursus tellus non volutpat.</p>
                    </ch-panel>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn" (click)="firstAccordion.closeAll()">Alle schließen</button>
            </div>
        </div>
    </tab>
    <tab title="Keyframes">
        <keyframes></keyframes>
    </tab>
    <tab title="Grouping/Sequencing">
        <grouping></grouping>
    </tab>
    <tab title="Querying">
        <querying></querying>
    </tab>
    <tab title="Stagging">
        <staggering></staggering>
    </tab>
    <tab title="Routing">
        <a routerLink='/autocalc' class="link">Automatische Style-Berechnung</a>
        <div [@routingAnimation]="o.isActivated ? o.activateRoute : ''" (@routingAnimation.done)="animationDone($event)">
            <router-outlet #o="outlet"></router-outlet>
        </div>
    </tab>
</tabs>