<header>
    <h3>Konfigurationen</h3>
    <p>
        <b>index.html: Ermittlung der Browser-Sprache und document.locale setzen</b><br/>
        <b>main.ts: xlf-Datei laden und Provider-Konfiguration</b><br/>
        <br/>
        <b>angular.json</b><br/>
        <code>  
    architect.build.options:<br/>
    &nbsp;&nbsp;"aot": false,
    </code>
        <br/><br/>
        <b>tsconfig.app.json</b><br/>
        <code>  
    "angularCompilerOptions": &#123;<br/>
    &nbsp;&nbsp;"enableIvy": false<br/>
    &#125;<br/>
    </code>
    </p>
</header>
<tabs>
    <tab title="Übersetzungstechniken" i18n-title="navigation header|the title of the first tab">
        <ef-translation-techniques></ef-translation-techniques>
    </tab>
    <tab title="Übersetzung von Bereichen" i18n-title>
        <ng-container i18n="example for parallel nodes">
            <p>Ich bin ein Text, der über</p>
            <p>mehrere Paragraphen verteilt ist</p>
        </ng-container>
    </tab>
    <tab title="Pluralisierung und geschlechterspezifische Texte" i18n-title>
        <ef-pluralization></ef-pluralization>
        <ef-gender></ef-gender>
    </tab>
</tabs>