/* Structure */

.checkbox-list {
    width: 300px;
}

.checkbox-list__table-container {
    height: 300px;
    width: 100%;
    overflow: auto;
}

.checkbox-list__table {
    width: 300px;
}

.checkbox-list__mat-form-field {
    font-size: 14px !important;
    width: 100% !important;
}

.checkbox-list__mat-row {
    height: 32px !important;
}

.checkbox-list__mat-header-row {
    height: 36px !important;
}

.checkbox-list__checkbox {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.checkbox-list__column {
    padding-left: 0px !important;
    padding-right: 12px !important;
}